/* Copyright 2011 Mark T. Tomczak
   See the README file for license information */


#errorbar {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 30px;
  font-weight: bold;
  color: white;
  background-color: #FF6666;
  margin-top: 5px;
  margin-left: 3px;
  margin-right: 3px;
  padding: 10px;
  display: none;
  z-index: 10;
}

#errorbar .closebox {
  background-color: inherit;
  margin-right: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#errorbar .errormsg {
  display: inline;
}

